.products-filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding-block: 32px;
  padding-inline: 16px;
  min-height: 122px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0 0 0 / 40%);
}

.active {
  border: 8px solid #6b0609;
}
