<section class="hero">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper hero-slider">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <img src="./images/hero/banner-1.jpg" alt="banner-1" />
        </li>
        <li class="swiper-slide">
          <img src="./images/hero/baner-2.jpg" alt="banner-2" />
        </li>
        <li class="swiper-slide">
          <img src="./images/hero/baner-3.jpg" alt="banner-3" />
        </li>
        <li class="swiper-slide">
          <img src="./images/hero/baner-4.jpg" alt="banner-4" />
        </li>
      </ul>
      <div class="hero-footer">
        <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
        <button class="hero-btn hero-btn-prev" type="button">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.7069 17.293L8.41394 13H17.9999V11H8.41394L12.7069 6.70697L11.2929 5.29297L4.58594 12L11.2929 18.707L12.7069 17.293Z"
              fill="#0B0500"
            />
          </svg>
        </button>
        <button class="hero-btn hero-btn-next" type="button">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z"
              fill="#0B0500"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
