.hero {
  padding: 32px 0;
}
.swiper-wrapper {
  margin-bottom: 24px;
}
.hero-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
  flex-grow: 1;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #e15d05;
}
