.products {
  padding: 80px 0;
}

.products-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;
  margin-bottom: 16px;
}
.products-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
  margin-bottom: 40px;
}
.products-filter {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.products-filter-item {
  width: calc((100% - 24px * 6) / 7);
}
