<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="#" aria-label="Site logo">
        <img src="logo.svg" alt="Logo image" width="163" height="70" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./page-2.html">Наші меблі</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-3.html">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-2.html">Часті питання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-3.html">Відгуки</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">До покупок</button>
  </div>
</header>
