.task-list-item {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.task-list-item.complited h3 {
  text-decoration: line-through;
}

.task-list-item.complited p {
  text-decoration: line-through;
}
